<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/console-example-internal.log"
      internalLogLevel="off" >

	<extensions>
		<add assembly="NLog.Windows.Forms"/>
		<add assembly="NLog.WPF" />
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="fileLog" fileName="logs/applog_${shortdate}.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"/>

		<target xsi:type="File" name="fileError" fileName="logs/error_${shortdate}.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"/>

		<target xsi:type="Console" name="consoleLog"
				layout="${longdate}|${level:uppercase=true}|${message}" />

		<target xsi:type="RichTextBox"
				name="richTextBox1"
				layout="${longdate}|${level:uppercase=true}|${message}"
				autoScroll="true"
				maxLines="1000"
				showMinimized="true"
				toolWindow="true"
				controlName="richTextBox1"
				formName="Form_Main"
				useDefaultRowColoringRules="true"
				allowAccessoryFormCreation="true"
				messageRetention="None"
				supportLinks="false" />

		<target xsi:type="NLog.WPF" name="ctrl" />
		
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="ctrl" />
		<logger name="*" minlevel="Debug" writeTo="richTextBox1" />
		<logger name="*" minlevel="Trace" writeTo="fileLog, consoleLog" />
		<logger name="*" minlevel="Error" writeTo="fileError" />
	</rules>
</nlog>